%h1 Login to enter inside system

%form{action: '/do_login', method: 'do'}
  Username:
  %input{name: 'username', type: 'text'}
  %br
  Password:
  %input{name: 'password', type: 'text'}
  %br

  %input{type: 'submit',   value: 'Submit'}
