%h1 List of tasks:

1. Test task
%a{href: url('/tasks/show/:id')}   show
%a{href: url('/tasks/new')}    new
%a{href: url('/tasks/delete/:id')} delete
%br


- @tasks.each do |task|
  %h3= task.title
  %p=  task.body
  %br
